<!DOCTYPE html>
<html>
<head>
<title> CSS selectors </title>
<link rel="stylesheet" href="aselectorc.css" type="text/css">
</head>
<body>
<p class="first"> Gryffindor </p>
<p class="second"> Ravenclaw </p>
<p class="third"> Hufflepuff </p>
<p> Slytherin </p>
</body>
</html> 